# Remap PREFIX from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-z
bind-key C-z send-prefix


# Split panes using | and -
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# Fast Pane switching using alt+arraows
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# DO not allow window rename
set-option -g allow-rename off

# Search mode vi
set-window-option -g mode-keys vi


# Join windows
bind-key j command-prompt -p "join pane from:" "join-pane -s '%%'"
bind-key s command-prompt -p "send pane to:" "join-pane -t '%%'"
